<!DOCTYPE html>
<html>
	<head>
		<link href="~/StyleSheet.css" rel="stylesheet" />
		<title>@ViewData["Title"]</title>
	</head>
	<body>
		<div class="header">
			<h1>@ViewData["Title"]</h1>
		</div>
		<div class="margin-left margin-top-200">
			@RenderBody()
		</div>
	</body>
</html>