@model List<CityWeather>;
@using Microsoft.AspNetCore.Html;

@{
	ViewData["Title"] = "Weather App With Layout Views";
	Layout = "~/Views/_Layout.cshtml";
}

<div class="flex">
	@foreach (var city in Model)
	{
		var partialModel = new CityWeatherPartialViewModel()
		{
			CityWeatherData = city,
			IsSelected = false
		};
		@await Html.PartialAsync("_CityWeather", partialModel);
	}
</div>

