@model CityWeatherPartialViewModel;

@{
	ViewData["Title"] = Model.CityWeatherData.CityName + " Weather";
	Layout = "~/Views/_Layout.cshtml";
}

<div class="flex">
	@await Html.PartialAsync("_CityWeather", Model)
</div>
<p class="text-center"><a href="/">Back To Weather Home Page</a></p>


